.brand-furni {
    color: rgb(52, 51, 51);
}

.custom-navbar {
    background-color: #b42f2f;
    /* Custom dark red color */
}

.custom-navbar .nav-link {
    color: #808080 !important;
    /* Gray text color */
}

.custom-navbar .navbar-brand {
    color: #fff !important;
    /* White text color */
}

.custom-navbar .nav-link:hover,
.custom-navbar .navbar-brand:hover {
    color: #ffcccb !important;
    /* Light red text color on hover */
}

.custom-navbar .nav-link.active {
    border-bottom: 2px solid #fff;
    /* White bottom border for active nav link */
    color: #fff !important;
    /* White text color for active nav link */
}

.section-red {
    background-color: #b42f2f;
    color: white;
    padding: 50px 0;
    margin-top: 0;
}

.section-red h1,
.section-red p,
.section-red button {
    color: white;
    border-radius: 20px;
}

.section-red p {
    text-align: justify;
}

.section-red .text-container {
    padding: 20px;
    max-width: 500px;
    /* Limit the width of the text container */
    margin: 0 auto;
    /* Center the text container */
}

.section-red .btn-outline-danger {
    color: white;
    border-color: white;
    border-radius: 20px;
}

.section-red .btn-outline-danger:hover {
    background-color: white;
    color: #ff4c4c;

}

/* Section 2 Styles */
.section-2 {
    padding: 50px 0;
    background-color: #e5da98;
    color: white;

}

.section-2 p {
    text-align: justify;
}

.section-2 .card {
    background-color: transparent;
    border: none;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-2 .card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.section-2 .card:hover {
    transform: translateY(-5px);
    background-color: #b42f2f;
}

.row-cols-md-3>.col {
    flex: 0 0 33.33333%;
    /* Ensure equal width for each card */
    max-width: 33.33333%;
    /* Ensure equal width for each card */
}